# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Environment
.env
.env.local
.env.production

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Android signing
*.jks
*.keystore
key.properties

# Node
node_modules/

# OS files
Thumbs.db
*.swp
*~
